body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--alternative-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  z-index: 1;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  z-index: 1;
}

canvas {
  border: 4px solid var(--purple);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  display: block;
  background-color: var(--canvas-background-color);
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  box-sizing: border-box;
}

#scoreTable {
  border: 4px solid var(--purple);
  text-align: left;
  font-size: 18px;
  background-color: var(--canvas-background-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 150px;
}

#scoreTable h2 {
  text-align: center;
  margin-bottom: 10px;
  color: var(--background-color);
}

#scoreTable tr:nth-child(even) {
  background-color: var(--purple);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: var(--purple);
  color: var(--text-color);
  padding: 10px;
  border-bottom: 2px solid var(--dark_purple);
}

td {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-bottom: 1px solid var(--table-border);
}

.level-overview-container {
  border: 4px solid var(--purple);
  padding: 20px;
  font-size: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: var(--canvas-background-color);
  border-radius: 10px;
  width: 180px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

#level-overview-header {
  background-color: var(--canvas-background-color);
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
}

#level-overview {
  flex-grow: 1;
  padding: 0px 10px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#level-overview::-webkit-scrollbar {
  display: none;
}

.level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 8px;
  color: var(--text-color);
  background-color: var(--purple);
  border-radius: 4px;
}

#current-level {
  text-align: left;
  background-color: var(--orange);
  font-weight: bold;
  color: var(--text-color);
}

.fog-icon {
  margin-left: auto;
}

tr:hover td {
  background-color: rgba(121, 126, 197, 0.3);
}
.mainMenu-button {
  background-color: var(--purple);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  margin: 10px;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  z-index: 1;
  position: relative;
}

.mainMenu-button:hover {
  background-color: var(--dark_purple);
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}
