.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* ----- Settings ----- */

.settings-content {
  background-color: #ffffff;
  color: #000000;
  padding: 8px;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.close-button {
  background-color: #787ec5;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  margin: 10px;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  z-index: 1;
  position: relative;
}

.close-button:hover {
  background-color: #696fab;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.sound-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 2;
}

.settings-container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
  z-index: 2;
}

.settings-container .settings-button {
  transform: translateX(0) rotate(0deg);
  transition: transform 1s ease;
}

.settings-container .settings-button.active {
  transform: translateX(340px) rotate(360deg);
  transition: transform 1s ease;
}

.settings-sidebar {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: rgba(77, 76, 76, 0.8);
  color: #ffffff;
  padding: 20px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: transform 1s ease, opacity 1s ease;
  overflow-y: auto;
  /* Allow vertical scrolling */
  transform: translateX(-100%);
  -ms-overflow-style: none;
  /* Hide scrollbar in IE and Edge */
  scrollbar-width: none;
  /* Hide scrollbar in Firefox */
}

/* Optional: If you want to ensure the last element inside has spacing */
.settings-content:last-child {
  margin-bottom: 40px;
}

/* Hide scrollbar for most modern browsers */
#settings-sidebar::-webkit-scrollbar {
  display: none;
}



.settings-sidebar.active {
  opacity: 1;
  transform: translateX(0);
}

.sidebar-close-button {
  background-color: #787ec5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;
}

.mute-button,
.settings-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.3s;
}

.mute-button:hover,
.settings-button:hover {
  color: #ff8d47;
}

/* ----- Background Animation ----- */

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.squares-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.square {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  animation: fly 5s linear forwards;
}

@keyframes fly {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100vh);
  }
}


/* Style for the color selection rectangles */
.color-selector {
  width: 20px;
  height: 20px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;

  align-content: center;
  /* Adds a border to make the rectangles more visible */
}

#colorSelectors {
  display: flex;
  gap: 10px;
  align-content: center;
  justify-content: center;
  /* Space between color selectors */
}

/* Style for the color palette */
.color-palette {
  display: none;
  /* Initially hidden */
  position: absolute;
  margin-top: 5px;
  padding: 5px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(4, 20px);
  /* 4 columns */
  grid-template-rows: repeat(2, 20px);
  /* 2 rows */
  gap: 5px;
}

.color-option {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Style for the controls  */

.control-map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-control {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  transition: border 0.3s ease;
}

#player1Control {
  border: 3px solid #FF0000; /* Default color */
}

#player2Control {
  border: 3px solid #00FF00; /* Default color */
}

#player3Control {
  border: 3px solid #0000FF; /* Default color */
}

#player4Control {
  border: 3px solid #FFFF00; /* Default color */
}

.control-keys {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.key-row {
  display: flex;
  justify-content: center;
}

.key {
  display: inline-block;
  padding: 15px;
  text-align: center;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 5px;
}

.key:hover {
  background-color: #ffdd57;
  cursor: pointer;
}

/* Special styling for the center key (W, ↑, T, I) */
.key.center-key {
  background-color: #e0e0e0;
  font-weight: bold;
}

.key.center-key:hover {
  background-color: #ffdd57;
  cursor: pointer;
}